<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.springbootdemo.mapper.LoginMapper">
    <insert id="register">
        insert into users (userId, username, password, role)
        values (#{userId}, #{username}, #{password}, #{role})
    </insert>
    <select id="getPasswordByUsername" resultType="com.demo.springbootdemo.pojo.Login">
        select * from users where username = #{username}
    </select>
</mapper>