<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.springbootdemo.mapper.StudentMapper">
    <insert id="batchInsert">
        insert into students (name, gender, grade, score, age, createTime, avatar)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.gender}, #{item.grade}, #{item.score}, #{item.age}, now(), #{item.avatar})
        </foreach>
    </insert>
    <update id="updateUser">
        update students
        set name       = #{name},
            age        = #{age},
            gender     = #{gender},
            grade      = #{grade},
            score      = #{score},
            avatar     = #{avatar},
            updateTime = now()
        where id = #{id}

    </update>

    <delete id="deleteUserById">
        delete
        from students
        where id = #{id}
    </delete>

    <delete id="deleteUserByIds">
        delete from students where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 分页查询语句 -->
    <select id="queryList" resultType="com.demo.springbootdemo.pojo.Student">
        select s.id,
               s.name,
               s.avatar,
               s.score,
               s.gender,
               s.grade,
               s.age,
               s.createTime,
               s.updateTime,
               c.className,
               cs.invited
        from students s
                 left join class_student cs on s.id = cs.studentId
                 left join class c on cs.classId = c.classId
        order by s.createTime desc
        limit #{limit} offset #{offset}
    </select>

    <!-- 查询总记录数 -->
    <select id="getTotalUsers" resultType="int">
        select count(*)
        from learnjdbc.students
    </select>
    <!--新增用户-->
    <select id="addUser" parameterType="com.demo.springbootdemo.pojo.Student">
        insert into learnjdbc.students (name, gender, grade, score, age, createTime, avatar)
        values (#{name}, #{gender}, #{grade}, #{score}, #{age}, now(), #{avatar})
    </select>
    <select id="queryUserById" resultType="com.demo.springbootdemo.pojo.Student">
        select *
        from students
        where id = #{id}
    </select>
    <select id="queryUsersForExport" resultType="com.demo.springbootdemo.pojo.Student">
        select *
        from students order by createTime
    </select>
</mapper>